PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb+srv://abu2:abu2@abu2.nncoxe5.mongodb.net/ucpubg?retryWrites=true&w=majority&appName=abu2

BOT_TOKEN=8834427007:AAHGqtJepZ7qWfG2PxZXu3skTFJk3vDF1sA
BOT_USERNAME=ucarenabot
MINI_APP_SHORT_NAME=UC ARENA

ADMIN_IDS=8231044589,6606638731
ADMIN_TELEGRAM_USERNAME=@Qoryogdiyev

APP_NAME=UC ARENA

DAILY_BONUS=0.5
REFERRER_BONUS=1
REFERRED_BONUS=0.5
TASK_BONUS=0.5
MIN_WITHDRAW=30

AUTH_MAX_AGE_SECONDS=86400
REFERRAL_SALT=BU_YERGA_UZUN_MAXFIY_QATOR

CLOUDINARY_CLOUD_NAME=dpdldyjpq
CLOUDINARY_API_KEY=475948499473811
CLOUDINARY_API_SECRET=1ER3q8u1UP5jOIDIYrUUXj_f7Yw
CLOUDINARY_FOLDER=uc-shop

DEV_MODE=true
DEV_TELEGRAM_ID=8231044589
MANDATORY_CACHE_SECONDS=300

# Renderda ixtiyoriy: RENDER_EXTERNAL_URL avtomatik olinadi. Custom domen uchun yozing.
APP_URL=
WEBHOOK_SECRET=JUDA_UZUN_MAXFIY_WEBHOOK_QATORI